.custom-navbar {
  background-color: #0ABAB5;
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 0.5rem 1rem;
}

.brand-title {
  color: tomato;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-img {
  height: 60px;
  width: 15%;
}

.nav-link {
  color: #fff !important;
  margin-right: 1rem;
  font-weight: 500;
  transition: 0.3s;
  font-size: 16px;
}

.active-link {
  color: #027E88 !important;
  font-weight: bold;
}

.custom-dropdown .dropdown-menu {
  border-radius: 5px;
  padding: 0;
}

.custom-dropdown .dropdown-item {
  color: black !important;
  padding: 0.4rem 1.2rem;
  transition: 0.5s;
}

.nav-profile {
  position: relative;
  display: inline-block;
}

.profile-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #027E88
}

.menu-profile {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  list-style: none;
  padding: 0.5rem 0;
  display: none;
  min-width: 140px;
  z-index: 999;
  border: 2px solid #000000;
}

.profile-menu:hover .menu-profile {
  display: block;
  padding: 10px;
  
}

.menu-profile li {
  color: #000000;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.menu-profile li:hover {
  background-color: #c2c7c7;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.login-btn {
  background-color: rgb(255, 255, 255);
  color: #000000 !important;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: 0.3s;
  border: 2px solid #000000;
}

.login-btn:hover {
  background-color: #b4b4b4;
}

.custom-dropdown .dropdown-item:hover {
  background: #027E88;
  color: #000000 !important;
}