.card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.875rem;
  color: #555;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

.btn-dark {
  font-size: 0.875rem;
}


.card_cont{
    display: block;
    position: relative;
    /* width: 390px; */
    ;
}