.about-row {
    /* width: 130em; */
    /* gap: 10px; */
}

.text-block {
    border-radius: 10px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    color: black;
    background-color: white ;
    border: 3px solid rgb(0, 0, 0);
    font-weight: 600;
}