.text-block {
  border-radius: 10px;
  border: 1px solid silver;
}

.btn {
  width: 95%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  display: block;
  justify-items: center;
  align-items: center;
}