.login-container {
    margin: 50% auto;
    -webkit-box-shadow: 13px 13px 29px -8px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 13px 13px 29px -8px rgba(0, 0, 0, 0.64);
    box-shadow: 13px 13px 29px -8px rgba(0, 0, 0, 0.64);
}

.login-container form {
    display: grid;
    padding: 14px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    background-color: #ededed;
}

.login-container input {
    background-color: white;
    color: black;
    border-color: #cacaca;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 4px;
    display: grid;
    padding: 5px;
    width: 18em;
    margin: 5px 2px;
    box-sizing: border-box;
    border-bottom: none !important;
    outline: none;
}

.login-container label {
    display: flex;
}

.loginSingUp-login span {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.cont-login {
    border: 1px solid black;
    padding: 20px;
}

.login-container h2 {
    text-align: center;
    color: tomato;
}

input::placeholder {
    color: rgb(225, 225, 225);
}

span.bl {
    border: 1px solid rgb(208, 208, 208);
    height: 30px;
    border-radius: 3px;
    color: #027E88;
    cursor: pointer;
    text-align: center;
    margin-top: 40px;
}

.btn-login {
    text-transform: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #c9caca;
    color: rgb(0, 0, 0);
    border: 2px solid #868686
}